<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^api/(.*)$ http://localhost:3000/api/$1 [P,L]
</IfModule>

Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header always set Access-Control-Allow-Headers "Content-Type"
